<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard CRM</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Primera columna: kpi porcentaje de retencion de clientes -->
                <h3>Tasa de Retencion de Clientes</h3>
                <div class="row">
                    <div class="col">
                        <label for="start_date">Fecha de inicio:</label>
                        <input type="date" id="start_date" class="form-control">
                    </div>
                    <div class="col">
                        <label for="end_date">Fecha de fin:</label>
                        <input type="date" id="end_date" class="form-control">
                    </div>
                </div>
                <div>
                    <button type="button" id="calculate-btn" class="btn btn-primary float-right">Recargar</button>
                </div>
                
                <!-- <form>
                    <div class="form-group">
                        
                    </div>
                    <div class="form-group">
                        
                    </div>
                    
                </form> -->
                <canvas id="kpi-chart" width="100" height="50"></canvas>
                
                    
                <h3>Valor promedio de Clientes</h3>
                <div class="row">
                    <div>
                        <label for="start_date_averageworth">Periodo:</label>
                    </div>
                    <div>
                        <input type="month" id="start_date_averageworth" class="form-control">
                    </div>
                    <div>
                        <button type="button" id="calculate-btn-averageworth" class="btn btn-primary float-right">Recargar</button>
                    </div>
                </div>       
                <canvas id="average-worth-chart"></canvas>
            </div>
            <div class="col-md-6">
                <!-- Segunda columna: Resto del contenido -->
                <h3>Distribucion de Estados de Leads</h3>
                <div class="row">
                    
                    <div class="col">
                        <label for="start_date_stateleads">Fecha de inicio:</label>
                        <input type="date" id="start_date_stateleads" class="form-control">
                    </div>
                    <div class="col">
                        <label for="end_date_stateleads">Fecha de fin:</label>
                        <input type="date" id="end_date_stateleads" class="form-control">
                    </div>
                </div>
                <button type="button" id="calculate-btn" class="btn btn-primary float-right">Recargar</button>
                <canvas id="status-pie-chart" width="100" height="50"></canvas>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        document.getElementById('calculate-btn').addEventListener('click', function() {
            const startDate = document.getElementById('start_date').value;
            const endDate = document.getElementById('end_date').value;

            fetchKpis(startDate, endDate);
        });

        // document.getElementById('calculate-btn-averageworth').addEventListener('click', function() {
        //     const startDate = document.getElementById('start_date_averageworth').value + "-01";
        //     fetchAverageWorthData(startDate);
        // });

        document.addEventListener('DOMContentLoaded', function() {
        // Event listener para el botón de calcular
            document.getElementById('calculate-btn-averageworth').addEventListener('click', function() {
                const startDate = document.getElementById('start_date_averageworth').value + "-01";
                fetchAverageWorthData(startDate);
            });

            // Función para cargar datos iniciales al cargar la página
            const defaultStartDate = '{{ default_start_date }}' + "-01";
            document.getElementById('start_date_averageworth').value = defaultStartDate.slice(0, 7); // Formato YYYY-MM
            fetchAverageWorthData(defaultStartDate);
        });
            

        function fetchKpis(startDate, endDate) {
            urls = [];
            labels = [];

            for (let i = 0; i < 5; i++) {
                const currentStartDate = new Date(startDate);
                currentStartDate.setMonth(currentStartDate.getMonth() - i);
                const currentEndDate = new Date(endDate);
                currentEndDate.setMonth(currentEndDate.getMonth() - i);
                
                const formattedStartDate = currentStartDate.toISOString().split('T')[0];
                const formattedEndDate = currentEndDate.toISOString().split('T')[0];
                
                urls.push(`/dashboard/calculate-kpi?start_date=${formattedStartDate}&end_date=${formattedEndDate}`);
                labels.push(formatDateToMonthYear(formattedStartDate));
            }

            Promise.all(urls.map(url => fetch(url).then(response => response.json())))
                .then(dataArray => {
                    const ctx = document.getElementById('kpi-chart').getContext('2d');
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels.reverse(),
                            datasets: [{
                                label: '% de retencion de clientes',
                                data: dataArray.map(data => data.tasa_retencion_clientes).reverse(),
                                backgroundColor: [
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(75, 192, 192, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(75, 192, 192, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    min: 0,
                                    max: 100
                                }
                            }
                        }
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        function fetchLeadStatusDistribution(startDate, endDate) {
            fetch(`/dashboard/get-lead-status-distribution?start_date=${startDate}&end_date=${endDate}`)
                .then(response => response.json())
                .then(data => {
                    const ctx = document.getElementById('status-pie-chart').getContext('2d');
                    new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: Object.keys(data),
                            datasets: [{
                                data: Object.values(data),
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                        }
                    });
                })
                .catch(error => console.error('Error:', error));
        }
        
        function fetchAverageWorthData(startDate) {
            const urls = [];
            const labels = [];

            for (let i = 0; i < 5; i++) {
                const currentStartDate = new Date(startDate);
                currentStartDate.setMonth(currentStartDate.getMonth() - i);
                currentStartDate.setDate(1); // Establecer al primer día del mes

                const currentEndDate = new Date(currentStartDate.getFullYear(), currentStartDate.getMonth() + 1, 0); // Establecer al último día del mes
                
                // Formatear las fechas correctamente para las URLs
                const formattedStartDate = currentStartDate.toISOString().split('T')[0];
                const formattedEndDate = currentEndDate.toISOString().split('T')[0];
                
                // Construir la URL con las fechas actuales
                const url = `/dashboard/get-average-worth-transaction/?start_date=${formattedStartDate}&end_date=${formattedEndDate}`;
                urls.push(url);

                // Agregar etiquetas para el gráfico, utilizando el mes y el año
                labels.push(formatDateToMonthYear(currentStartDate));
            }

            Promise.all(urls.map(url => fetch(url).then(response => response.json())))
                .then(dataArray => {
                    const averageWorthData = dataArray.map(data => data.average_worth);
                    renderLineChart(labels.reverse(), averageWorthData.reverse());
                })
                .catch(error => console.error('Error:', error));
        }

        function renderLineChart(labels, data) {
            const ctx = document.getElementById('average-worth-chart').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Valor promedio de transacciones',
                        data: data,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            min: 0
                        }
                    }
                }
            });
        }
        
        function formatDateToMonthYear(dateStr) {
            const options = { year: 'numeric', month: 'long' };
            return new Date(dateStr).toLocaleDateString(undefined, options);
        }

        window.onload = function() {
            const defaultStartDate = '{{ default_start_date }}';
            const defaultEndDate = '{{ default_end_date }}';
            document.getElementById('start_date').value = defaultStartDate;
            document.getElementById('end_date').value = defaultEndDate;
            document.getElementById('start_date_stateleads').value = defaultStartDate;
            document.getElementById('end_date_stateleads').value = defaultEndDate;
            document.getElementById('start_date_averageworth').value = defaultStartDate.slice(0, 7);
            fetchKpis(defaultStartDate, defaultEndDate);
            fetchLeadStatusDistribution(defaultStartDate, defaultEndDate);
            fetchAverageWorthData(defaultStartDate);
        };
    </script>
    
</body>
</html>